@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
}
.navigation {
    background-color:#A800F5;

    padding: 1rem;
    border-bottom-left-radius: 1.8rem;
    border-top-right-radius: 1.8rem;
}
  .nav-brand {
      font-size: larger;
      font-weight: bold;
      margin: .5rem 0rem;
      color: white;
  }
  .navigation .link{
      font-size: medium;
      color: white;
      text-decoration: none;
      margin: 1rem 1rem;
      padding : 2rem 1rem;
  }
  .navigation .nav-pills{
      text-align: right;
  }
  .inline-list {
      display: inline;
  }
  .navigation .link-active {
      font-weight: bold;
  }
/*#A800F5*/